In [1]:
import pandas as pd

In [13]:
df = pd.read_csv("compositeData.csv")
df

    fibre_length  basalt_fiber_content  curaua_fiber_content  tensile_strength
0              4                   100                     0             50.38
1              4                   100                     0             30.36
2              4                    75                    25             25.24
3              4                    75                    25             27.22
4              4                    75                    25             23.01
5              4                    50                    50             23.71
6              4                    50                    50             26.87
7              4                    50                    50             22.89
8              4                    25                    75             32.67
9              4                    25                    75             32.11
10             4                    25                    75             29.97
11             4                    25                    75             27.70
12             4                     0                   100             10.54
13             4                     0                   100             17.20
14             4                     0                   100             13.00
15             8                   100                     0             35.52
16             8                   100                     0             41.84
17             8                   100                     0             24.00
18             8                   100                     0             21.03
19             8                   100                     0             28.82
20             8                    75                    25             39.14
21             8                    75                    25             32.60
22             8                    75                    25             31.30
23             8                    50                    50             25.39
24             8                    50                    50             31.10
25             8                    50                    50             29.02
26             8                    50                    50             29.52
27             8                    50                    50             38.65
28             8                    25                    75             26.75
29             8                    25                    75             21.57
30             8                    25                    75             27.98
31             8                    25                    75             24.14
32             8                     0                   100             20.91
33             8                     0                   100             28.80
34            12                   100                     0             31.49
35            12                   100                     0             27.87
36            12                   100                     0             21.42
37            12                    75                    25             24.43
38            12                    50                    50             25.65
39            12                    50                    50             21.26
40            12                    25                    75             21.15
41            12                     0                   100             33.67
42            12                     0                   100             36.83
43            12                     0                   100             34.40
44            12                     0                   100             36.36

In [14]:
augDf = pd.concat([df,pd.concat([df,df])])
augDf

    fibre_length  basalt_fiber_content  curaua_fiber_content  tensile_strength
0              4                   100                     0             50.38
1              4                   100                     0             30.36
2              4                    75                    25             25.24
3              4                    75                    25             27.22
4              4                    75                    25             23.01
..           ...                   ...                   ...               ...
40            12                    25                    75             21.15
41            12                     0                   100             33.67
42            12                     0                   100             36.83
43            12                     0                   100             34.40
44            12                     0                   100             36.36

[135 rows x 4 columns]

In [16]:
augmentedDf = augDf.sample(frac=1).reset_index(drop=True)
augmentedDf

,fibre_length,basalt_fiber_content,curaua_fiber_content,tensile_strength
0,4,25,75,32.11
1,12,50,50,25.65
2,4,100,0,50.38
3,4,25,75,32.67
4,8,75,25,39.14
...,...,...,...,...
130,8,25,75,27.98
131,4,0,100,17.20
132,8,75,25,31.30
133,8,50,50,38.65
134,4,75,25,23.01